{% extends 'base.html' %}

{% block header %}
  <h1>{% block page_title %}Projects{% endblock %}</h1>
{% endblock %}

{% block app_content %}
  <div>
    <label>Display all</label>
    <input id="displayFilter" type="checkbox" {% if session["display_all_projects"] %}checked{% endif %} onchange="displayArchived(this.checked)" />
  </div>

  <form class="form-inline" action="{{ url_for('projects.create') }}" method="post">
    <input name="name" id="name" value="{{ request.form['name'] }}" required placeholder="Name">
    <button type="submit" class="btn btn-warning btn-sm" title="Add">
      <i class="fa fa-plus fa-lg"></i>
    </button>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total hours</th>
      </tr>
    </thead>
    {% for project in projects %}
    <tr {% if project.archived %}class="archived" style="display: none;"{% endif %}>
      <td>
        <a href="{{ url_for('tasks.index', project_id=project.id) }}">
          {% if project.archived %}<s>{% endif %}
            {{ project.name }}
          {% if project.archived %}</s>{% endif %}
        </a>
      </td>
      <td>
        {{ project.total_duration_str }}
      </td>
      <td>
        <form class="form-inline" action="{{ url_for('projects.edit', project_id=project.id) }}" method="get">
          <button type="submit" class="btn btn-warning btn-sm" title="Edit">
            <i class="fa fa-pencil-square fa-lg"></i>
          </button>
        </form>
      </td>
      <td>
        {% if not project.archived %}
          <form class="form-inline" action="{{ url_for('projects.archive', project_id=project.id) }}" method="post">
            <button type="submit" class="btn btn-primary btn-sm" title="Archive">
              <i class="fa fa-archive fa-lg"></i>
            </button>
          </form>
        {% else %}
          <form class="form-inline" action="{{ url_for('projects.unarchive', project_id=project.id) }}" method="post">
            <button type="submit" class="btn btn-primary btn-sm" title="Unarchive">
              <i class="fa fa-archive fa-lg"></i>
            </button>
          </form>
        {% endif %}
      </td>
      <td>
        <form class="form-inline" action="{{ url_for('projects.delete', project_id=project.id) }}" method="post">
          <button type="submit" class="btn btn-danger btn-sm" title="Delete">
            <i class="fa fa-trash-o fa-lg"></i>
          </button>
        </form>
      </td>
      <td class="absorbing-column"></td>
    </tr>
    {% endfor %}
  </table>

  <style type="text/css">
    s {
      text-decoration: none;
      background-image: linear-gradient(transparent 7px,#377ba8 7px,#377ba8 9px,transparent 12px);
    }

    table .absorbing-column {
      width: 100%;
    }
  </style>

  <script type="text/javascript">
    window.addEventListener("load", function() {
      displayArchived({% if session["display_all_projects"] %}true{% else %}false{% endif %});

      $("#displayFilter").change(function() {
        filterChanged(this.checked);
      });
    });

    function filterChanged(isChecked) {
      displayArchived(isChecked);
      // send filter status
      $.post("{{ url_for('projects.set_filter') }}", { display_all: isChecked });
    }

    function displayArchived(isChecked) {
      if (isChecked) {
        $(".archived").show();
      }
      else {
        $(".archived").hide();
      }

      $(".filterValue").val(isChecked);
    }
  </script>
{% endblock %}
