{% extends 'base.html' %}

{% block header %}
  <h1>{% block page_title %}Projects{% endblock %}</h1>
{% endblock %}

{% block app_content %}
  <div>
    <label>Display all</label>
    <input id="display-filter" type="checkbox" {% if display_archived %}checked{% endif %} onchange="displayArchived(this.checked)" />
  </div>

  <form class="form-inline" action="{{ url_for('projects.create') }}" method="post">
    <input type="hidden" class="filterValue" name="displayArchived" value="{{ display_archived }}" />
    <input name="name" id="name" value="{{ request.form['name'] }}" required placeholder="Name">
    <input class="btn btn-primary btn-sm" type="submit" value="Add">
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total hours</th>
      </tr>
    </thead>
    {% for project in projects %}
    <tr>
      <td>
        <a href="{{ url_for('tasks.index', project_id=project.id) }}">
          {% if project.archived %}<s>{% endif %}
            {{ project.name }}
          {% if project.archived %}</s>{% endif %}
        </a>
      </td>
      <td>
        {{ project.total_duration_str }}
      </td>
      <td>
        <form class="form-inline" action="{{ url_for('projects.edit', project_id=project.id) }}" method="get">
          <input type="hidden" class="filterValue" name="displayArchived" value="{{ display_archived }}" />
          <button type="submit" class="btn btn-warning">
            <i class="fa fa-pencil-square fa-lg"></i>
          </button>
        </form>
      </td>
      <td>
        {% if not project.archived %}
          <form class="form-inline" action="{{ url_for('projects.archive', project_id=project.id) }}" method="post">
            <input type="hidden" class="filterValue" name="displayArchived" value="{{ display_archived }}" />
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-archive fa-lg"></i>
            </button>
          </form>
        {% else %}
          <form class="form-inline" action="{{ url_for('projects.unarchive', project_id=project.id) }}" method="post">
            <input type="hidden" class="filterValue" name="displayArchived" value="{{ display_archived }}" />
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-archive fa-lg"></i>
            </button>
          </form>
        {% endif %}
      </td>
      <td>
        <form class="form-inline" action="{{ url_for('projects.delete', project_id=project.id) }}" method="post">
          <input type="hidden" class="filterValue" name="displayArchived" value="{{ display_archived }}" />
          <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash-o fa-lg"></i>
          </button>
        </form>
      </td>
      <td class="absorbing-column"></td>
    </tr>
    {% endfor %}
  </table>

  <style type="text/css">
    s {
      display: inline-block;
      text-decoration: none;
      position: relative;
    }

    s:after {
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 3px solid;
    }

    table .absorbing-column {
      width: 100%;
    }
  </style>

  <script type="text/javascript">
    window.addEventListener("load", function() {
      displayArchived({% if display_archived %}true{% else %}false{% endif %});
    });

    function displayArchived(isChecked) {
      if (isChecked) {
        $(".archived").show();
      }
      else {
        $(".archived").hide();
      }

      $(".filterValue").val(isChecked);
    }
  </script>
{% endblock %}
