{% extends 'base.html' %}

{% block header %}
  <h1>{% block page_title %}Projects{% endblock %}</h1>
{% endblock %}

{% block app_content %}
  <form class="form-inline" action="{{ url_for('projects.create') }}" method="post">
    <input name="name" id="name" value="{{ request.form['name'] }}" required placeholder="Name">
    <input class="btn btn-primary btn-sm" type="submit" value="Add">
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total hours</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
      <tr>
        <td><a href="{{ url_for('tasks.index', project_id=project.id) }}">{{ project.name }}</a></td>
        <td>{{ project.total_duration_str }}</td>
        <td>
          <form class="form-inline" action="{{ url_for('projects.delete', project_id=project.id) }}" method="post">
            <input class="btn btn-danger btn-sm" type="submit" value="Delete">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
