{% extends 'bootstrap/base.html' %}

{#  #}
{% block title %}
  {% block page_title %}{% endblock %} - Produsys
{% endblock %}

{% block navbar %}
  <nav>
    <h1>Produsys</h1>
    <ul>
      {% if g.user %}
        <li><span>{{ g.user['user_id'] }}</span>
        <li><a href="{{ url_for('dashboard.index') }}">Dashboard</a>
        <li><a href="{{ url_for('projects.index') }}">Projects</a>
        <li><a href="{{ url_for('tasks.index') }}">Tasks</a>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block app_content %}{% endblock %}
  </section>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
