{% extends 'base.html' %}

{% block header %}
  <h1>{% block page_title %}Log In{% endblock %}</h1>
{% endblock %}

{% block app_content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="hidden" id="utcOffset" class="utcOffset" name="utc_offset" value="" />
    <input type="submit" value="Log In">
  </form>

  <script>
    window.addEventListener("load", function() {
      let delta = new Date().getTimezoneOffset();
      $(".utcOffset").val(delta);
    });
  </script>
{% endblock %}