{% extends 'base.html' %}

{% block header %}
  <h1>{% block page_title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block app_content %}
  {% if tasks|length > 0 %}
    <select id="selectTask" name="select_task" onchange="onTask(this)">
      {% if task is none %}
        <option disabled selected value style="display:none"> -- select a task -- </option>
      {% endif %}
      {% for t in tasks %}
        <option value="{{ t.id }}" {% if t.id == task.id %} selected="selected" {% endif %}>
          {{ t.full_path }}
        </option>
      {% endfor %}
    </select>
    {% if task %}
      {% if task.started %}
      <form class="form-inline" action="{{ url_for('dashboard.stop',task_id=task.id) }}" method="post">
        <input type="url" class="location" name="return_url" value="" hidden />
        <button class="btn btn-primary btn-sm" type="submit">
          Stop
        </button>
      </form>
      {% else %}
      <form class="form-inline" action="{{ url_for('dashboard.start',task_id=task.id) }}" method="post">
        <input type="url" class="location" name="return_url" value="" hidden />
        <button class="btn btn-primary btn-sm" type="submit">
          Start
        </button>
      </form>
      {% endif %}
      
      <form class="form-inline" action="{{ url_for('dashboard.edit_task_chunk', task_id=task.id) }}" method="get">
        <input type="url" class="location" name="return_url" value="" hidden />
        <button type="submit" class="btn btn-primary btn-sm">Add interval</button>
      </form>
    {% endif %}

    {% if task.start_time_elapsed %}
      <span id="labelTime"> {{ task.start_time_elapsed }} </span>
    {% endif %}

  {% else %}
    <h4>No tasks have been added yet.</h4>
  {% endif %}

  <div>
    From <input type="date" id="startDate" value="{{ start_date }}" onchange="changeUrl(null)">
    To <input type="date" id="endDate" value="{{ end_date }}" onchange="changeUrl(null)">
  </div>

  {% for chunk_list in task_chunks %}
    <div class="row">
      <h4 class="col-xs-3">{{ chunk_list["date"] }}</h4>
      <h4 class="col-xs-3">{{ chunk_list["total_duration"] }}</h4>
    </div>

    <div class="row">
      <label class="col-xs-3">Task</label>
      <label class="col-xs-2">Start</label>
      <label class="col-xs-2">End</label>
      <label class="col-xs-2">Duration</label>
    </div>
    {% for chunk in chunk_list["chunks"] %}
      <div class="row">
        <div class="col-xs-3">
          <form class="form-inline" action="{{ url_for('dashboard.edit_task_chunk', task_id=chunk.task_id, tc_id=chunk.id) }}"
            method="get">
            <input type="url" class="location" name="return_url" value="" hidden />
            <button type="submit" class="btn-link">{{ chunk.task_name }}</button>
          </form>
        </div>
        <div class="col-xs-2">{{ chunk.start.strftime('%H:%M:%S') }}</div>
        <div class="col-xs-2">{{ chunk.end.strftime('%H:%M:%S') }}</div>
        <div class="col-xs-2">{{ chunk.duration_text }}</div>
        <div class="col-xs-3">
          <form class="form-inline" action="{{ url_for('dashboard.delete_task_chunk', tc_id=chunk.id) }}"
            method="post">
            <input type="url" class="location" name="return_url" value="" hidden />
            <button type="submit" class="btn-link">Delete</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% endfor %}

  <style type="text/css">
    .form-inline {
      display: inline;
    }
  </style>

  <script type="text/javascript">
    let locationFields = document.getElementsByClassName("location");

    Array.prototype.forEach.call(locationFields, function(lf, index) {
      locationFields[index].setAttribute("value", location.href);
      console.log("asd");
    });

    setInterval(function() {
      refreshTimer();
    }, 1000);

    function pad(num, size) {
      var s = num+"";
      while (s.length < size) s = "0" + s;
      return s;
    }

    function refreshTimer() {
      let label = $("#labelTime");
      if (label.length === 0) {
        return;
      }
      let t = label.html();
      let parts = t.split(":");
      let h = parseInt(parts[0], 10);
      let m = parseInt(parts[1], 10);
      let s = parseInt(parts[2], 10);
      s++;
      if (s === 60)
      {
        m++;
        s = 0;
      }
      if (m === 60)
      {
        h++;
        m = 0;
      }
      let text = h.toString() + ":" + pad(m, 2) + ":" + pad(s, 2);
      $("#labelTime").html(text);
    }

    function onTask(selected) {
      let taskId = selected.value;
      changeUrl(taskId);
    }

    function changeUrl(taskId) {
      let startDate = "start_date=" + $("#startDate").val();
      let endDate = "end_date=" + $("#endDate").val();
      let args = "?" + startDate + "&" + endDate;
      let url = "";

      if (taskId) {
        url = "{{ url_for('dashboard.index') }}" + taskId;
      }
      else {
        url = "{% if (task) %}{{ url_for('dashboard.index', task_id=task.id ) }}{% else %}{{ url_for('dashboard.index') }}{% endif %}";
      }

      window.location = url + args;
    }
  </script>
{% endblock %}
