{% extends 'base.html' %}

{% block header %}
  <h1>{% block page_title %}Tasks{% endblock %}</h1>
{% endblock %}

{% block app_content %}
  {% if projects|length > 0 %}
    <select id="selectProject" name="select_project" onchange="onProject(this)">
      {% if project is none %}
        <option disabled selected value style="display:none"> -- select a project -- </option>
      {% endif %}
      {% for p in projects %}
        <option value="{{ url_for('tasks.index', project_id=p.id) }}" {% if p.id == project.id %} selected="selected" {% endif %}>
          {{ p.name }}
        </option>
      {% endfor %}
    </select>

    <form class="form-inline" action="{{ url_for('tasks.create',project_id=project.id) }}" method="post">
      <input name="name" id="name" value="{{ request.form['name'] }}" required placeholder="Name">
      <input class="btn btn-primary btn-sm" type="submit" value="Add">
    </form>

    {% if tasks|length > 0%}
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          <tr>
            <td>{{ task.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else%}
      <h4>No tasks have been added yet.</h4>
    {% endif %}
  {% else %}
    <h3>No projects have been added yet.</h3>
  {% endif %}

  <script type="text/javascript">
    function onProject(selected) {
      let value = selected.value;
      console.log(value);
      window.location = value;
    }
  </script>
{% endblock %}
