{% extends 'base.html' %}

{% block header %}
  <h1>{% block page_title %}Tasks{% endblock %}</h1>
{% endblock %}

{% block app_content %}
  {% if projects|length > 0 %}
    <select id="selectProject" name="select_project" onchange="onProject(this)">
      {% if project is none %}
        <option disabled selected value style="display:none"> -- select a project -- </option>
      {% endif %}
      {% for p in projects %}
        <option value="{{ url_for('tasks.index', project_id=p.id) }}" {% if p.id == project.id %} selected="selected" {% endif %}>
          {{ p.name }}
        </option>
      {% endfor %}
    </select>

    <div class="help-block"></div>

    <div>
      <label>Display all</label>
      <input id="displayFilter" type="checkbox" {% if session["display_all_tasks"] %}checked{% endif %} onchange="displayArchived(this.checked)" />
    </div>

    <form class="form-inline" action="{{ url_for('tasks.create',project_id=project.id) }}" method="post">
      <input name="name" id="name" value="{{ request.form['name'] }}" required placeholder="Name">
      <button type="submit" class="btn btn-warning btn-sm" title="Add">
        <i class="fa fa-plus fa-lg"></i>
      </button>
    </form>

    {% if tasks|length > 0%}
      <ul>
      {% for task in tasks recursive %}
        <li {% if task.archived %}class="archived"{% endif %}>
          <div>
            <a href="{{ url_for('dashboard.index', task_id=task.id) }}">
              {% if task.archived %}<s>{% endif %}
                {{ task.name }}
              {% if task.archived %}</s>{% endif %}
            </a>
            <form class="form-inline" action="{{ url_for('tasks.subtask', project_id=project.id, parent_id=task.id) }}" method="get">
              <button type="submit" class="btn btn-warning btn-sm" title="Add subtask">
                <i class="fa fa-plus fa-lg"></i>
              </button>
            </form>
            <form class="form-inline" action="{{ url_for('tasks.edit', project_id=project.id, task_id=task.id) }}" method="get">
              <button type="submit" class="btn btn-warning btn-sm" title="Edit">
                <i class="fa fa-pencil-square fa-lg"></i>
              </button>
            </form>
            {% if not task.archived %}
              <form class="form-inline" action="{{ url_for('tasks.archive', project_id=project.id, task_id=task.id) }}" method="post">
                <button type="submit" class="btn btn-primary btn-sm" title="Archive">
                  <i class="fa fa-archive fa-lg"></i>
                </button>
              </form>
              {% else %}
                <form class="form-inline" action="{{ url_for('tasks.unarchive', project_id=project.id, task_id=task.id) }}" method="post">
                <button type="submit" class="btn btn-primary btn-sm" title="Unarchive">
                  <i class="fa fa-archive fa-lg"></i>
                </button>
              </form>
            {% endif %}
            <form class="form-inline" action="{{ url_for('tasks.delete', project_id=project.id, task_id=task.id) }}" method="post">
              <button type="submit" class="btn btn-danger btn-sm" title="Delete">
                <i class="fa fa-trash-o fa-lg"></i>
              </button>
            </form>
          </div>
            {% if task.subtasks %}
              <div class="help-block"/>
              <ul>{{ loop(task.subtasks) }}</ul>
            {% endif %}
        </li>
        <div class="help-block"/>
      {% endfor %}
      </ul>
    {% else%}
      <h4>No tasks have been added yet.</h4>
    {% endif %}
  {% else %}
    <h3>No projects have been added yet.</h3>
  {% endif %}

  <style type="text/css">
    .form-inline {
      display: inline;
    }

    s {
      display: inline-block;
      text-decoration: none;
      position: relative;
    }

    s:after {
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 3px solid;
    }
  </style>

  <script type="text/javascript">
    window.addEventListener("load", function() {
      displayArchived({% if session["display_all_tasks"] %}true{% else %} false{% endif %});

      $("#displayFilter").change(function() {
        filterChanged(this.checked);
      });
    });

    function filterChanged(isChecked) {
      displayArchived(isChecked);
      // send filter status
      $.post("{{ url_for('tasks.set_filter') }}", { display_all: isChecked });
    }

    function displayArchived(isChecked) {
      if (isChecked) {
        $(".archived").show();
      }
      else {
        $(".archived").hide();
      }

      $(".filterValue").val(isChecked);
    }

    function onProject(selected) {
      window.location = selected.value;
    }
  </script>
{% endblock %}
