{% extends 'base.html' %}

{% block header %}
  <h1>{% block page_title %}Tasks{% endblock %}</h1>
{% endblock %}

{% block app_content %}
  {% if projects|length > 0 %}
    <select id="selectProject" name="select_project" onchange="onProject(this)">
      {% if project is none %}
        <option disabled selected value style="display:none"> -- select a project -- </option>
      {% endif %}
      {% for p in projects %}
        <option value="{{ url_for('tasks.index', project_id=p.id) }}" {% if p.id == project.id %} selected="selected" {% endif %}>
          {{ p.name }}
        </option>
      {% endfor %}
    </select>

    <div class="help-block"></div>
    <form class="form-inline" action="{{ url_for('tasks.create',project_id=project.id) }}" method="post">
      <input name="name" id="name" value="{{ request.form['name'] }}" required placeholder="Name">
      <input class="btn btn-primary btn-sm" type="submit" value="Add">
    </form>

    {% if tasks|length > 0%}
      <ul>
      {% for task in tasks recursive %}
        <li>
          <div>
            <a href="{{ url_for('dashboard.index', task_id=task.id) }}">{{ task.name }}</a>
            <a href="{{ url_for('tasks.subtask', project_id=project.id, parent_id=task.id) }}">
              Add subtask
            </a>
            <form class="form-inline" action="{{ url_for('tasks.delete', project_id=project.id, task_id=task.id) }}" method="post">
              <button type="submit" class="btn btn-danger btn-sm">
                Delete
              </button>
            </form>
          </div>
            {% if task.subtasks %}
              <ul>{{ loop(task.subtasks) }}</ul>
            {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% else%}
      <h4>No tasks have been added yet.</h4>
    {% endif %}
  {% else %}
    <h3>No projects have been added yet.</h3>
  {% endif %}

  <style type="text/css">
    .form-inline {
      display: inline;
    }
  </style>

  <script type="text/javascript">
    function onProject(selected) {
      window.location = selected.value;
    }
  </script>
{% endblock %}
